.start-header {
    -fx-font-size: 32px;
}
.start-input {
    -fx-padding: 20px;
}
.player-select-container {
    -fx-padding: 200px 0px 0px 0px;
}
.btn-start {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #141B20;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.btn-reset {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1E262C;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}
.input-group {
    -fx-padding: 30px;
}

.sidebar-container {
    -fx-background-color: #1E262C;
    -fx-padding: 20;
}
.player-container {
    -fx-background-color: #e4e8e9;
    -fx-border-color: #c4c8c9;
    -fx-border-width: 0 0 0 1;
    -fx-padding: 20;
}
.content-container {
    -fx-background-color: #ECF0F1;
}
.start-container {
    /*-fx-background-color: BLUE;*/
}
.board-container {
    /*-fx-background-color: RED;*/
}
.title {
    -fx-background-color: #141B20;
}
.menu .label {
    -fx-text-fill: WHITE;
}

.player-label {
    -fx-font-size: 22px;
}

/*DECORATOR*/
.jfx-decorator {
    -fx-decorator-color: #141B20;
}
.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}
.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 3 3 3;
}