.start-header {
    -fx-font-size: 32px;
}
.start-input {
    -fx-padding: 20px;
}
.player-select-container {
    -fx-padding: 30px 0px 0px 0px;
}
.btn-swap {
    -fx-font-size: 18px;
}
JFXButton {
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}
JFXButton:hover {
    -fx-cursor: hand;
}
.btn-start {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 20px;
    -jfx-button-type: RAISED;
    -fx-background-color: #2e4250;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.btn-start:hover{
    -fx-background-color: #009688;
    -fx-cursor: HAND;
}
.btn-reset {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 18px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1E262C;
    -fx-pref-width: 220;
    -fx-text-fill: WHITE;
}
.btn-info {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 18px;
    -jfx-button-type: RAISED;
    -fx-background-color: #1E262C;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}
.btn-error {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 18px;
    -jfx-button-type: RAISED;
    -fx-background-color: #93342b;
    -fx-pref-width: 160;
    -fx-text-fill: WHITE;
}
.btn-settings {
    /*-fx-padding: 20 0 0 0;*/
    /*-fx-background-color: #e4e8e9;*/
    -jfx-button-type: FLAT;
}
.btn-settings:pressed {
    -fx-background-color: NONE;
}
.btn-error:hover{
    -fx-background-color: #b74138;
    -fx-cursor: HAND;
}
.btn-info:hover{
    -fx-background-color: #2e4250;
    -fx-cursor: HAND;
    /*-fx-background-color: #009688;*/
}
.btn-reset:hover{
    -fx-background-color: #2e4250;
    -fx-cursor: HAND;
}
.jfx-slider .thumb, .colored-track, .animated-thumb {
    -fx-background-color: #2e4250;
}
.input-group {
    -fx-padding: 30px;
}
.progress-indicator {
    -fx-progress-color: #1E262C;
}
.sidebar-container {
    -fx-background-color: #1E262C;
    -fx-padding: 20;
}
.player-container {
    -fx-background-color: #e4e8e9;
    -fx-padding: 20;
}
.content-container {
    /*-fx-background-color: #ECF0F1;*/
    -fx-background-image: url('../images/background.png');
}
.start-container {
    /*-fx-background-color: BLUE;*/
}
.board-container {
    -fx-background-color: #ECF0F1;
    /*-fx-background-color: #fff;*/
    -fx-border-color: #c4c8c9;
    -fx-border-width: 0 1 1 0;
}
.turn-container {
    /*-fx-border-color: #5f6263;*/
    -fx-background-color: #e4e8e9;
    /*-fx-border-width: 1 0 0 0;*/
}
.title {
    -fx-background-color: #141B20;
}
.menu .label {
    -fx-text-fill: WHITE;
}

.player-label {
    -fx-font-size: 21px;
}

/*DECORATOR*/
.jfx-decorator {
    -fx-decorator-color: #141B20;
}
.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}
.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 3 3 3;
}

/*AWESOME*/
.root{
    -icons-color: rgb(223, 223, 217);
}
.awesome{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
    /*-fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.1em, 0.0 , 0.07em, 0.07em );*/
    /*-fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-40%) 80%);*/
    -fx-text-fill: #c8c8c8;
    -fx-padding: 0 6;
}
.awesome:hover{
    -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}
.awesome:selected{
    -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}